<div class="info-card__container">
  <div class="info-card__english_title">
    <h1>{{ englishTitle }}</h1>
  </div>
  <div class="info-card__japanese_title_plus_year_and_duration">
    <span> {{ japaneseTitle }} </span>
    <span> • {{ animeYear }} • </span>
    <span> {{ episodeDuration }} </span>
  </div>
  <div class="info-card__buttons">
    <button class="watching-button">
      <i class="fa fa-eye" aria-hidden="true"></i> Watching
    </button>
    <button [routerLink]="['/reviews']"><i class="fa fa-comment-o" aria-hidden="true"></i> Reviews</button>
    <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
    <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
  </div>
  <div class="info-card__trailer">
    <p>Trailer</p>
    <img src="https://img.youtube.com/vi/GDMXGzjJzS4/sddefault.jpg" />
  </div>
  <div class="info-card__synopsis">
    <p>
      {{ animeSynopsis }}
    </p>
  </div>
  <div class="info-card__genres">
    <span>Action</span>
    <span>Adventure</span>
    <span>Fantasy</span>
  </div>
  
</div>
