<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="poster-card__container">
  <div class="poster-card__picture">
    <img src="../../../assets/images/poster.png" />
  </div>

  <div class="poster-card__starts">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="stars-number"> 4</span>
  </div>
  <div class="poster-card__rating">
    <span>19 reviews • </span>
    <span>15 comments • </span>
    <span>230 views</span>
  </div>
  <div class="poster-card__button">
    <button>View reviews</button>
  </div>
</div>
