<div class="poster-card__container">
  <div class="poster-card__picture">
    <img src="{{ posterImgUrl }}" alt="poster image" />
  </div>

  <div class="poster-card__starts">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="stars-number"> 4</span>
  </div>
  <div class="poster-card__rating">
    <span> {{ year }} • </span>
    <span>{{ number_of_episodes }} episodes • </span>
    <span>{{ number_of_reviews }} reviews</span>
  </div>
  <div class="poster-card__button">
    <button [routerLink]="['/reviews']">View Reviews</button>
  </div>
</div>
