.background-img {
  height: 70vh;
  background-image: url("../../../assets/images/background-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.home__container {
  position: relative;
}

.home__anime_session {
  top: 15%;
  right: 0;
  position: absolute;
  display: flex;
}

.home__anime_poster {
  width: 35%;
}

.home__anime_info {
  width: 65%;
}
