<div class="home__container">
  <div
    class="background-img"
    style="background-image: url('{{ coverImg }}')"
  ></div>
  <div class="home__anime_session">
    <div class="home__anime_poster">
      <app-poster-card
        posterImgUrl="{{ posterImg }}"
        [number_of_episodes]="number_of_episodes"
        number_of_reviews="{{ number_of_reviews }}"
        year="{{ animeYear }}"
      ></app-poster-card>
    </div>
    <div class="home__anime_info">
      <app-info-card
        englishTitle="{{ englishTitle }}"
        japaneseTitle="{{ japaneseTitle }}"
        animeYear="{{ animeYear }}"
        episodeDuration="{{ episodeDuration }}"
        animeSynopsis="{{ animeSynopsis }}"
        trailerImg="{{ trailerImg }}"
        trailerUrl="{{ trailerUrl }}"
        [genres]="genres"
      >
      </app-info-card>
      <div
        class="info-card__episodes"
        *ngFor="let episode of episodes; let i = index"
      >
        <hr />
        <app-episode-card
          title=" {{ episode.title }} "
          imageUrl=" {{ episode.image }}"
          episodeNumber="{{ i + 1 }}"
        ></app-episode-card>
      </div>
    </div>
  </div>
</div>
