<div class="menu-bar__container">
  <ul>
    <li><a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a target="_blank" href="https://github.com/JackWh0"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/jackson-silva-bezerra/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a></li>
    <li><a target="_blank" href="https://dribbble.com/shots/25472172-Anime-Web-App"><i class="fa fa-paint-brush" aria-hidden="true"></i> Inspiration</a></li>
  </ul>
</div>
