.menu-bar__container {
  padding: 7px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #00000007;
  border-bottom: 1px solid rgb(85, 84, 84);
  text-align: center;
}
.menu-bar__container > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-bar__container > ul > li {
  margin-right: 25px;
  list-style-type: none;
}
.menu-bar__container > ul > li > a {
  text-decoration: none;
  color: white;
  filter: drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black)
    drop-shadow(-2px 0 0 black) drop-shadow(0 -2px 0 black);
}

.menu-bar__container > ul > li > a:hover {
  color: #67f0fe;
}

hr {
  text-shadow: 2px 2px 4px #000000;
  width: 170px;
}
